<div class="main-header">

  <div class="left-header">

    <button *ngFor="let botao of colecaoBotoes" class="button-header" (click)="handleRoute(botao.link)">{{ botao.nome }}</button>
  </div>
  <div class="center-header">

    <img class="logo-center" [src]="logo" (click)="handleRoute(Home)">
  </div>
  <div class="right-header">

    <div class="userContent" (click)="openSubMenu()">
      <span>Faça login</span>
      <span *ngIf="userName">Olá, {{ userName }}</span>
      <img class="userPreview" [src]="avatar">
    </div>
  </div>
</div>
