<div class="sub-menu">

    <form *ngIf="forgetPasswd">
  
      <input #email type="email" class="campoForm"/> 
      <input #password type="password" class="campoForm">  
      <input type="button" value="Enviar" class="submitForm" (click)="logaSistema(email.value, password.value)"/> 
    </form>
    <a class="createUser" (click)="handleRoute('login')">Criar conta</a>
    <a class="forgetPasswd" (click)="!forgetPasswd">Esqueceu sua senha?</a>
    <a *ngIf="!forgetPasswd" class="forgetPasswd" (click)="!forgetPasswd">Fazer login</a>
  </div>